/* body{
    direction: rtl;
} */
.shopping-bag-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
}
.product-name {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image-text-container {
  text-align: center;
}

.product-image {
  display: block;
  margin: 0 auto;
}

.product-text {
  display: block;
}
