.toastContainer {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1500;
    max-width: 300px;
    width: 100%;
  }
  
  .toastIcon {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .toastCloseButton {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: inherit;
  }
  